.right {
    float: right;
}

.writer {
    font-size: 25px;
    font-weight: 700;
}

.profile-card {
    position: sticky;
}

.thumbnail-image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}