{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
    <div class="row">
        {% for post in posts %}
        <!-- <div class="col-12"> -->
            <div class="card col-10" style="width: 18rem; margin-top: 30px;">
                <div class="post-buttons" style="margin-top:10px;margin-bottom:10px;">
                    <span class="card-title writer">글쓴이 : {{ post.user.username }}</span>
                    {% if user != post.user %}
                        {% if user in post.user.followers.all %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-primary">팔로우 취소</a>
                        {% else %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-primary">팔로우</a>
                        {% endif %}
                    {% endif %}
                    {% if user == post.user %}
                    <a href="{% url 'posts:delete' post.pk %}" class="btn btn-primary right" style="margin-left: 15px;">삭제</a>
                    <a href="{% url 'posts:edit' post.pk %}" class="btn btn-primary right">수정</a>
                    {% endif %}
                </div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    {{ post.likes_count }}명이 좋아합니다.
                    {% if user in post.likes.all %}
                        <a href="{% url 'posts:like_toggle' post.id %}">좋아요 취소</a>
                    {% else %}
                        <a href="{% url 'posts:like_toggle' post.id %}">좋아요</a>
                    {% endif %}
                    <p class="card-text" style="margin-top: 30px;">{{ post.content }}</p>
                    
                    <form action="{% url 'posts:create_comment' post.pk %}" method="POST" style="margin-top: 50px;">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="댓글 달기..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">작성</button>
                    </form>

                    {% if post.comments %}
                    <ul class="list-group" style="margin-top: 40px;">
                        {% for comment in post.comments %}
                        <li class="list-group-item">
                            <p>
                                <b>{{ comment.user.username }}</b>
                                {% if user == comment.user %}
                                    <a href="{% url 'posts:delete_comment' comment.pk %}" class="right">삭제</a>
                                {% endif %}
                            </p>
                            <p>{{ comment.message }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>
{% endblock content %}
    