{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
    <div class="row justify-content-end">
        <div class="col-4" style="margin-top: 30px;">
            <div class="card profile-card" style="width: 18rem;">
                {% if user.image %}
                    <img src="{{ user.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">{{ user.info }}</p>
                        <a href="{% url 'users:show' user.pk %}" class="btn btn-primary">마이페이지</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary">로그인</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for post in posts %}
            <div class="card col-8" style="width: 18rem; margin-top: 30px;">
                <div class="post-buttons" style="margin-top:10px;margin-bottom:10px;">
                    <span class="card-title writer">
                        {% if post.user.image %}
                            <img src="{{ post.user.image.url }}" alt="" class="thumbnail-image">
                        {% endif %}
                        <a href="{% url 'users:show' post.user.pk %}" style="color:black;">
                            {{ post.user.username }}
                        </a>
                    </span>
                    {% if user != post.user %}
                        {% if user in post.user.followers.all %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-primary right" data-remote="true">팔로우 취소</a>
                        {% else %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-primary right" data-remote="true">팔로우</a>
                        {% endif %}
                    {% endif %}
                    {% if user == post.user %}
                    <a href="{% url 'posts:delete' post.pk %}" class="btn btn-primary right" style="margin-left: 15px;">삭제</a>
                    <a href="{% url 'posts:edit' post.pk %}" class="btn btn-primary right">수정</a>
                    {% endif %}
                </div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <span id="likes-count-{{ post.pk }}">{{ post.liked_users_count }}</span>명이 좋아합니다.
                    {% if user in post.liked_users.all %}
                        <a href="#" class="like_toggle" data-post-id="{{ post.pk }}">좋아요 취소</a>
                    {% else %}
                        <a href="#" class="like_toggle" data-post-id="{{ post.pk }}">좋아요</a>
                    {% endif %}
                    <p class="card-text" style="margin-top: 30px;">{{ post.content }}</p>
                    
                    <form action="#" method="POST" style="margin-top: 50px;" class="create-comment-form" data-remote="true">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="comment-input-{{ post.pk }}" aria-describedby="emailHelp" placeholder="댓글 달기..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary right comment-submit-button" data-post-id="{{ post.pk }}">작성</button>
                    </form><br>

                    {% if post.comments %}
                    <ul class="list-group" id="comments-list-{{ post.pk }}" style="margin-top: 40px;">
                        {% for comment in post.comments %}
                            {% include 'comments/_comment.html' with comment=comment user=user %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function() {
        // 좋아요 Ajax
        $('.like_toggle').click(function(e){
            e.preventDefault();
            const likeButton = $(this);
            const postId = likeButton.data('post-id');
            $.ajax({
                url: `/posts/${postId}/like_toggle/`,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                type: "POST",
                success: function(response) {
                    likeButton.html(response.result);
                    $(`#likes-count-${postId}`).html(response.likes_count);
                },
                error: function(response) {
                    alert('오류가 발생했습니다.');
                }
            });
        });

        // 댓글 생성시 Ajax
        $('.comment-submit-button').click(function(e){
            e.preventDefault();
            const postId = $(this).data('post-id');
            const commentMessage = $(`#comment-input-${postId}`).val();
            if (commentMessage === '') {
                alert('댓글 내용을 입력해주세요.');
            } else {
                $.ajax({
                    url: `/posts/${postId}/create_comment/`,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'message': commentMessage
                    },
                    type: "POST",
                    success: function(response) {
                        $(`#comments-list-${postId}`).prepend(response.comment);
                        $(`#comment-input-${postId}`).val('');
                    },
                    error: function(response) {
                        alert('오류가 발생했습니다.');
                    }
                });
            }
        });
    })
</script>
{% endblock %}